<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <a href="/" class="logo me-auto me-lg-5"
                ><img
                  src="/img/logo.png"
                  alt=""
                  class="img-fluid"
                  width="200"
                  height="200"
              /></a>
              <p>
                QWCJ+MWR, Deliverance Rd, Nairobi <br />
                <br /><br />
                <strong>Phone:</strong> +254 726555054<br />
                <strong>Email:</strong> info@ttsound-events.co.ke<br />
              </p>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#hero">Home</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#about">About us</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#services">Services</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#gallery">Gallery</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#team">Team</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#contact">Contact</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="MCEE.html">MCEE</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="PA.html">PA(Public Address) system</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="DJ.html">DJING</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>OUR SOCIALS</h4>
            <div class="social-links mt-3">
              <a
                href="https://www.facebook.com/Take2Sound"
                class="facebook"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="bx bxl-facebook"></i
              ></a>
              <a
                href="https://www.instagram.com/take2soundke/"
                target="_blank"
                rel="noopener noreferrer"
                class="instagram"
                ><i class="bx bxl-instagram"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>TAKE TWO SOUNDS & EVENTS</span></strong
        >. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
        Designed by
        <a href="https://shorturl.at/qrGIN">PlainWave Technologies</a>
      </div>
    </div>
  </footer>